// .home {
//   // background-color: rgb(70, 67, 67);
//   // height: 100vh;
// }
.homeHeading {
  color: hsl(0, 6%, 7%);
  text-align: center;
}

.choose-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}